.join-us-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
}

.join-us-title-font {
  font-family: SFProDisplay;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.join-us-title-font-small {
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.join-us-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
}

.content {
  text-align: justify;
}
