.keynotes-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
}

.keynotes-icon {
  height: 50px; /*This can be removed after getting the icon with correct size */
}

.keynotes-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
}

.keynotes-title-font {
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  text-shadow: 0px 0px 10px #4a4a4a;
}

.keynotes-content {
  text-align: justify;
}

.keynotes-block {
  padding-left: 30px;
  padding-right: 30px;
}

.margin-placeholder {
  margin-bottom: 100px;
}
