.title-font {
  width: 210px;
  height: 60px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.location-font {
  text-align: center;
}

.margin-row {
  margin-top: 30%;
}

.margin-bottom {
  margin-bottom: 40%;
}

.margin-row-small {
  margin-top: 5%;
}

.address-font {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f0ad4e;
}

.btn-default {
  color: white;
  background-color: transparent;
  border-color: #ccc;
}
