.agenda-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
}

.agenda-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
}

.agenda-title-font {
  width: 172px;
  height: 36px;
  font-family: SFProDisplay;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.agenda-meme {
  text-align: center;
}

.agenda-meme-font {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: SFProText;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}

.agenda-asd {
  font-family: SFProText;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #4a4a4a;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 15%;
  text-align: left;
  background: transparent;
  box-shadow: none;
  padding-left: 0px;
}

.vertical-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  border: solid 2px #ffa719;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px transparent, inset 0 2px 0 transparent,
    0 3px 0 4px transparent;
  box-shadow: -4 0 0 0px transparent, inset 0 0px 0 transparent,
    0 3px 0 4px transparent;
}
