.keynotes-title {
  font-family: SFProDisplay;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}

.keynotes-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.keynotes-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
