.keynotes-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
}

.keynotes-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
}

.keynotes-title-font {
  font-family: SFProDisplay;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.keynotes-content {
  text-align: justify;
}

.keynotes-title-font-desktop {
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  text-shadow: 0px 0px 10px #4a4a4a;
}

.margin-placeholder {
  margin-bottom: 100px;
}

.keynotes-description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
