.language-button {
  margin: 0px;
}

.collapsed-menu {
  margin: 0px;
}

/* this is to override .navbar-default from the bootstrap css file */
.navbar-default {
  background-color: #1ea4c5;
  border-color: transparent;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
}

.language-button {
  color: #333 !important;
  background-color: transparent;
  border-color: #333 !important;
}

.toggle-style {
  border-color: transparent !important;
}

.icon-bar {
  background-color: #333 !important;
  width: 25px !important;
  height: 3px !important;
}

.logo-wrapper {
  height: 70px;
  margin: 5px 0px 0px 15px;
  padding: 0px;
}

.navbar-font-desktop {
  font-size: 16px;
}

.navbar-font-desktop .btn {
  font-size: 16px;
}
