.sponsor-title-layout {
  margin-top: 5%;
  margin-bottom: 5%;
}

.sponsor-title-font {
  font-family: SFProDisplay;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.sponsor-col-blue {
  margin: auto;
  width: 160px;
}
.sponsor-col {
  margin-right: -5%;
  width: 160px;
  margin-bottom: -20%;
}

.sponsor-title-font-small {
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.sponsor-title-layout-small {
  margin-top: 2%;
  margin-bottom: 2%;
}
.sponsor-title-layout-small-phone {
  margin-top: -20%;
  margin-bottom: 2%;
}
.sponsor-rectangle-layout-blue {
  width: 160px;
  height: 88px;
}
.sponsor-rectangle-layout {
  width: 88px;
  height: 160px;
}
.sponsor-background-rectangle-blue{
  background-color: #1587ab;
  z-index: -1;
  position: relative;
  left: -5%;
  top: -80px;
}
.sponsor-background-rectangle {
  background-color: #ffa719;
  z-index: -1;
  position: relative;
  left: 10%;
  top: -150px;
}

.sponsor-title-font-desktop {
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffa719;
}

.sponsor-title-font-desktop-small{
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffa719;
}