.navBarRectangle {
  width: 1440px;
  height: 115px;
  opacity: 0.63;
  background-color: #ffffff;
}

.font {
  font-family: SFProText;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f4c63;
  text-decoration: none;
}
