.language-button {
  margin: 0px;
}

.collapsed-menu {
  margin: 0px;
}

/* this is to override .navbar-default from the bootstrap css file */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.test-language-button {
  margin: 0px;
  padding: 8px;
  border: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  .test-language-button {
  	display: none;
  }
}

.test-language-button-in-collapse {
}
@media (max-width: 768px) {
  .test-language-button-in-collapse {
    display: none;
  }
}

.language-button {
  color: #000000;
  background-color: transparent;
  border-color: #000000;
  float: right;
  margin-right: 15px;
}
