.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  background-repeat: no-repeat;
  background-image: url('./images/phonedesktop3x.png');
  background-size:75%;
  background-repeat: no-repeat;
  background-position: center 20%;
}

.App-intro-title {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20%;
}
.background-color-phone {
  position: absolute;
  width: 345px;
  height:400px;
  background: #000000;
  top: 0;
  z-index: -1; 
  text-align: center; 
}
.background-opacity-phone {
  position: absolute;
  width: 345px;
  height: 325px;
  top: 50%;
  background-image:linear-gradient(to top, #435a81 0%, #000000);
  z-index: -1;
}

.keynotes {
  background-color: #f7f7f7;
}

.speakers {
  opacity: 0.93;
  background-image: linear-gradient(to bottom, #1ea4c5, #0d6b93);
}

.agenda {
  background-color: #f7f7f7;
}
.sponsors{
  height: 840px;
}
.sponsors-phone{
  height: 100%;
}
.connections {
  background-color: #ffffff;
}

.join-us {
  background-image: linear-gradient(to bottom, #1ea4c5, #0d6b93);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-intro-desktop {
 background-image:linear-gradient(130deg,#000000,85%,#435a81);
}
.App-intro-desktop-title{
  background-repeat: no-repeat;
  background-image: url('./images/phonedesktop3x.png');
  background-size:30%;
  background-position:15% 70%;
}

.background-color {
  position: absolute;
  width: 100%;
  height:65%;
  background: #000000;
  top: 0;
  z-index: -1;
}
.background-opacity {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 55%;
  background-image:linear-gradient(130deg,#000000,90%,#435a81);
  z-index: -1;
}

.speakers-desktop {
  position: relative;
  background-image: url('./images/desktop2.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-image: linear-gradient(to bottom, #1ea4c5, #0d6b93); */
}

.join-us-desktop {
  position: relative;
  background-image: url('./images/desktop3.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}
